<div id='notice'>
  <%= notice %>
</div>
<div class='pane-header'>
    <%= 'Mobiles and Laptops' %>
</div>
<div id='product-table'>
  <ul>
      <% @products.each do |product| %>
        <li>
          <ul>
            <li><%= image_tag(product.image_url, class: 'product-image') %></li>
            <li><%= product.title %></li>
            <li>Rs. <%= product.price %></li>
            <li><%= link_to 'Show', product %>
                |
                <%= link_to 'Edit', edit_product_path(product) %>
                |
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </li>
      <% end %>
  </ul>
</div>
<div id='page-links'>
  <%= link_to 'New Product', new_product_path %>
</div>
