<div id='notice'>
  <%= notice %>
</div>
<div class='pane-header'>
    <%= 'Mobiles and Laptops' %>
</div>
<div id='product-table'>
  <ul>
      <% @products.each do |product| %>
        <li>
          <div class='product-box'>
            <div class='product-image-box'>
              <%= link_to image_tag(product.image_url, class: 'product-image'), product %>
            </div>
            <div class='product-title-box'>
              <%= link_to product.title, product %>
            </div>
            <div class='product-price-box'>
              <%= number_to_currency(product.price, :unit => 'Rs. ', :locale => 'en-IN') %>
            </div>
            <div class='product-link-box'>
              <span>
                <%= link_to 'Edit', edit_product_path(product) %>
              </span>
              <span>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            </div>
          </div>
        </li>
      <% end %>
  </ul>
</div>

<div class='clear'></div>

<div id='page-links'>
  <%= link_to 'New Product', new_product_path %>
</div>
